/* You can add global styles to this file, and also import other style files */
body{
    /* background-image: url('../src/anete-lusina-zwsHjakE_iI-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed; */
}